In [1]:
import pandas as pd

In [2]:
def normalize_column(df, col):
    df[col] = (df[col] - df[col].min()) / (df[col].max() - df[col].min())

In [10]:
data0['Overall Rank'] =  - data0['Overall Rank']

In [8]:

normalize_column(data0, 'Overall Rank')
data0.to_csv('data_new/greenspace_rank.csv')

             State  Overall Rank
0       Washington             1
1           Hawaii             2
2       California             3
3     Rhode Island             4
4            Maine             5
5          Florida             6
6    New Hampshire             7
7          Vermont             8
8         Delaware             9
9           Oregon            10
10       Minnesota            11
11        Michigan            12
12   Massachusetts            13
13        Maryland            14
14        New York            15
15          Nevada            16
16           Idaho            17
17       Wisconsin            18
18        Virginia            19
19       Tennessee            20
20    South Dakota            21
21     Connecticut            22
22        Missouri            23
23         Georgia            24
24      New Jersey            25
25    Pennsylvania            26
26            Iowa            27
27        Kentucky            28
28  North Carolina            29
29        Arkansas            30
30         Alabama            31
31        Nebraska            32
32  South Carolina            33
33   West Virginia            34
34        Colorado            35
35           Texas            36
36            Ohio            37
37         Arizona            38
38      New Mexico            39
39         Montana            40
40         Wyoming            41
41     Mississippi            42
42            Utah            43
43          Kansas            44
44        Illinois            45
45         Indiana            46
46    North Dakota            47
47        Oklahoma            48
48          Alaska            49
49       Louisiana            50