In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
def normalize_column(df, col):
    df[col] = (df[col] - df[col].min()) / (df[col].max() - df[col].min())

In [4]:
for dirname, _, filenames in os.walk('csv_data_ranked/before'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

csv_data_ranked/before\aqi-us.xlsx
csv_data_ranked/before\crashes_new.csv
csv_data_ranked/before\death-rate.csv
csv_data_ranked/before\drug_death_new.csv
csv_data_ranked/before\greenspace.xlsx
csv_data_ranked/before\healthiest_states.csv
csv_data_ranked/before\mean_electrical_pricing.csv
csv_data_ranked/before\natural-disaster.xlsx
csv_data_ranked/before\population_new.csv
csv_data_ranked/before\water-quality.xlsx
csv_data_ranked/before\~$aqi-us.xlsx

In [7]:
data = pd.read_csv('csv_data_ranked/before\crashes_new.csv')
col = ['State', 'Total Crashes']
data = data[col]
data['Total Crashes'] = -data['Total Crashes']
normalize_column(data, 'Total Crashes')
# data.to_csv('csv_data_ranked/after/crashes_rank.csv')

In [13]:
data = pd.read_csv('csv_data_ranked/before\death-rate.csv')
data.rename(columns = {'state':'State'}, inplace = True)
data['deathRate'] = -data['deathRate']
normalize_column(data, 'deathRate')
data.to_csv('csv_data_ranked/after/death_rate_rank.csv')

In [16]:
data = pd.read_csv('csv_data_ranked/before\drug_death_new.csv')
col = ['State', 'd/p']
data = data[col]
data['d/p'] = -data['d/p']
normalize_column(data, 'd/p')
# data.to_csv('csv_data_ranked/after/drug_death_rank.csv')

In [17]:
#
#
#

In [6]:
data = pd.read_csv('csv_data_ranked/after\drug_rank.csv')
col = ['State', 'd/p']
data = data[col]
data.rename(columns = {'d/p':'Rank'}, inplace = True)
data.to_csv('csv_data_ranked/after/drug_death_rank.csv')

In [7]:
data = pd.read_excel('csv_data_ranked/before/aqi-us.xlsx', index_col=0)
data['Overall Rank'] = -data['Overall Rank']
normalize_column(data, 'Overall Rank')
data.rename(columns = {'Overall Rank':'Rank'}, inplace = True)
data.to_csv('csv_data_ranked/after/aqi_rank.csv')

In [8]:
data

              State      Rank  AQI-US
NaN      Washington  1.000000      27
NaN          Hawaii  0.979592       9
NaN      California  0.959184      41
NaN    Rhode Island  0.938776      21
NaN           Maine  0.918367      22
NaN         Florida  0.897959      34
NaN   New Hampshire  0.877551      30
NaN         Vermont  0.857143      21
NaN        Delaware  0.836735      27
NaN          Oregon  0.816327      29
NaN       Minnesota  0.795918      14
NaN        Michigan  0.775510      17
NaN   Massachusetts  0.755102      33
NaN        Maryland  0.734694      25
NaN        New York  0.714286      22
NaN          Nevada  0.693878      26
NaN           Idaho  0.673469      33
NaN       Wisconsin  0.653061      23
NaN        Virginia  0.632653      17
NaN       Tennessee  0.612245      15
NaN    South Dakota  0.591837      29
NaN     Connecticut  0.571429      22
NaN        Missouri  0.551020      16
NaN         Georgia  0.530612      28
NaN      New Jersey  0.510204      29
NaN    Pennsylvania  0.489796      23
NaN            Iowa  0.469388      23
NaN        Kentucky  0.448980      25
NaN  North Carolina  0.428571      25
NaN        Arkansas  0.408163      20
NaN         Alabama  0.387755      27
NaN        Nebraska  0.367347      16
NaN  South Carolina  0.346939      39
NaN   West Virginia  0.326531      21
NaN        Colorado  0.306122      27
NaN           Texas  0.285714      29
NaN            Ohio  0.285714      22
NaN         Arizona  0.244898      46
NaN      New Mexico  0.224490      33
NaN         Montana  0.204082      28
NaN         Wyoming  0.183673      31
NaN     Mississippi  0.163265      27
NaN            Utah  0.142857      31
NaN          Kansas  0.122449      22
NaN        Illinois  0.102041      24
NaN         Indiana  0.081633      18
NaN    North Dakota  0.061224      22
NaN        Oklahoma  0.040816      27
NaN          Alaska  0.020408      10
NaN       Louisiana  0.000000      29